
@{
    ViewData["Title"] = "Lista de cursos";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}
<link href="~/lib/datatables/datatables.1.10.13.min.css" rel="stylesheet" />

<section class="content-header">
    <h1>
        Cursos
        <small>Lista de cursos</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index">
                <i class="fa fa-home"></i> Cursos
            </a>
        </li>
        <li class="active">
            Lista de cursos
        </li>
    </ol>
</section>
<section class="content container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="tb-cursos"
                           class="table table-striped table-bordered "
                           style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Curso</th>
                                <th>Turno</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p>
                <a class="btn btn-primary" asp-controller="Curso"
                   asp-action="Cadastrar"><i class="fa fa-plus"></i> Novo curso</a>
            </p>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ListScriptsPartial");}
    <script src="~/js/cursos/CursoLista.js"></script>
    <script>
        window.dataTablesAux = new DataTablesAuxiliadores();
        window.cursoLista = new CursoLista();
    </script>
}
