@{
    ViewData["Title"] = "Lista de Alunos";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}
<link href="~/lib/datatables/datatables.1.10.13.min.css" rel="stylesheet" />

<section class="content-header">
    <h1>
        Alunos
        <small>Lista de Alunos</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index">
                <i class="fa fa-home"></i> Alunos
            </a>
        </li>
        <li class="active">
            Lista de Alunos
        </li>
    </ol>
</section>
<section class="content container-fluid" id="section-usuarios">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tb-alunos"
                               class="table table-striped table-bordered "
                               style="width:100%">
                            <thead>
                                <tr>
                                    <th width="10px"></th>
                                    <th>Nome</th>
                                    <th>Sobrenome</th>
                                    <th>E-mail</th>
                                    <th>Login</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <p>
                        <a class="btn btn-primary" asp-controller="Aluno" asp-action="Cadastrar">Cadastrar</a>
                        <a class="btn btn-primary" asp-controller="Aluno" asp-action="Matricular">Matricular</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ListScriptsPartial");}
    <script src="~/js/alunos/ListaAluno.js"></script>
    <script>
        window.dataTablesAux = new DataTablesAuxiliadores();
        window.listaAluno = new ListaAluno();
    </script>
}
