
@{
    ViewData["Title"] = "Cursos";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}

<section class="content-header">
    <h1>
        Cursos
        <small>Lista de cursos</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index">
                <i class="fa fa-home"></i> Cursos
            </a>
        </li>
        <li class="active">
            Lista de cursos
        </li>
    </ol>
</section>
<section class="content container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                
            </div>
        </div>
        <div class="col-md-12">
           
        </div>
    </div>
</section>