@addTagHelper *, MyWebApp
@model SysMatriculas.Web.ViewModels.UsuarioPerfil

@if (Model == null)
{
    <span>
        Você não está logado
        <a asp-controller="Usuario" asp-action="Login">Logar</a>
    </span>
}
else
{
    <div>
        <form asp-area="" asp-controller="Usuario" asp-action="Logout"
              method="post" id="logoutForm">
           
                    <a asp-area="" asp-controller="Usuario" 
                       asp-action="MeuPerfil" title="Ver perfil">Olá @Model.UserName!</a>
                    <a class="btn btn-link  navbar-link" href="javascript:sair()">Sair</a>
        </form>
    </div>
    <script>
        function sair() {
            
            $("#logoutForm").submit()
        }
    </script>
}
